body{

margin:0;

padding:40px;

font-family:Arial, Helvetica, sans-serif;

transition:0.4s;

}

.container{

max-width:800px;

margin:auto;

padding:30px;

border-radius:15px;

text-align:center;

background:rgba(255,255,255,.15);

box-shadow:0 5px 20px rgba(0,0,0,.2);

}

h1{

margin-bottom:20px;

}

h2{

margin-top:30px;

}

button{

padding:12px 20px;

margin:8px;

border:none;

border-radius:8px;

cursor:pointer;

font-weight:bold;

transition:.3s;

}

button:hover{

transform:scale(1.05);

}

input{

width:80%;

padding:12px;

border-radius:8px;

border:1px solid #999;

font-size:16px;

}

/* THEMES */

.jour{

background:#eeeeee;

color:#111;

}

.nuit{

background:#121212;

color:white;

}

.bleu{

background:#1565c0;

color:white;

}

.vert{

background:#2e7d32;

color:white;

}

.rose{

background:#d81b60;

color:white;

}

.orange{

background:#ef6c00;

color:white;

}